html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* body{
   
    background-image: linear-gradient(135deg, #667eea 0%, rgb(138, 43, 226) 100%);
    color: white;
   
}
.menu{
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;

} */

.header{
	position: relative;
	z-index: 5;
	background-image: linear-gradient(135deg, #667eea 18%, rgb(138, 43, 226) 100%);
	color : white;
	height: 400px;
}

.menu{
	font-family: 'Source Sans Pro', sans-serif;
    /* font-size: 18px; */
	font-weight: bold;
}
/* .menu{
	margin-top: 20px;
}

ul a{
	font-size: 16px;
	font-weight: 900;
	color: white;
	float: right;
	padding: 30px;
	margin-top: -4px;
	box-sizing: border-box;
	text-decoration: none;
}

ul{
	margin-right: 60px;
} */

hr{
	margin-top: 170px;
	width: 400px;
}
.logo{
	position: absolute;
	font-size: 26px;
	margin-left: 60px;
	margin-top: 19px;
}
.namajudul{
	text-align: center;
	letter-spacing: 6px;
	font-weight: 900;
	font-size: 70px;
	margin-top: 180px;
}
.sejarah{
	margin: auto;
	font-size: 18px;
	text-align: center;
	letter-spacing: 1px;
	line-height: 1.5;
	font-weight: 400;
	padding: 30px;
	width: 1250px;
}

.lulusanjudul{
	position: relative;
	z-index: 5;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 6px;
	font-weight: 900;
	font-size: 70px;
	margin-top: -300px;
	margin-bottom: 50px;
	color: white;
}

.gambar{
	margin: auto;
	width: 879px;
	/* border: 2px solid black; */
}


.gambar_kelebihan1 .persegi1{
    position: absolute;
    z-index: 2;
    margin-left: -40px;
    margin-top: 80px;
    height: 430px;
    width: 350px;
    background-color: #69b17a; 
}

.gambar_kelebihan1 .gambare2{
    position: relative;
	/* margin-left: 0px; */
	/* top: -440px; */
    z-index: 5;
}

.gambar_kelebihan1 .judulkelebihan1{
    font-family: 'Source Sans Pro', sans-serif;
    /* letter-spacing: 3px; */
	font-weight: bold;
    font-size: 30px;
    color: #69b17a; 
	margin-left: 400px;
	margin-top: -240px;
}

.garismetode{
    position: relative;
    width: 80px;
    height: 1px;
    background-color: #69b17a;
    margin-top: 14px;
    margin-bottom:-20px;
    margin-left: 401px;
}

.gambar_kelebihan1 .isikelebihan1{
    margin-left: 400px;
    width: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    /* letter-spacing: 3px; */
	font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
    color: #453965; 
}

.footer{
    margin-top: -250px;
	background-image: linear-gradient(135deg, #667eea 18%, rgb(138, 43, 226) 100%);
	height: 380px;
}
.bergabung{
	color: white;
	padding-top: 50px;
	margin-top: 265px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
	font-weight: 900;
	font-size: 35px;
}
.email{
	margin-top: 35px;
	padding: 15px 100px;
	border-radius: 3px;
	border: none;
}
.tombol{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 18px;
	padding: 8px 40px;
	padding-top: 9px;
	padding-bottom: 14px;
	border-radius: 3px;
	border: none;
	color: white;
	background-color: #ff66b3;
}
.bergabung .bawah{
	margin-top: 170px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
	 content: " "; /* 1 */
	 display: table; /* 2 */
 }
 
 .cf:after {
	 clear: both;
 }
 
 /**
  * For IE 6/7 only
  * Include this rule to trigger hasLayout and contain floats.
  */
 .cf {
	 *zoom: 1;
 }